.articles
  h3 all articles
  each article in articles
    .article
      h4
        a(href=article.name)= article.title
        date = article.date
        span(title=strftime('%B %d, %Y %H:%M UTC', date))= strftime('%Y.%m.%d', date)
      | !{article.desc}
  a(href='articles') older...
