h1= article.title
h4
  | Published: 
  date = new Date(article.date)
  year = date.getUTCFullYear()
  month = date.getUTCMonth()
  day = date.getUTCDate()
  span(title=([months[month], day, ',', year, 'UTC'].join(' ')))= [ year, month + 1, day ].join('.')
.article!= article.html

#disqus_thread
script(type="text/javascript")
  var disqus_shortname = 'tootallnate'; // required: replace example with your forum shortname
  var disqus_developer = 1; // dev mode
  var disqus_title = '#{article.title}';
  var disqus_url = 'https://tootallnate.net/#{article.name}';

  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
