.about
  h3 about
  | This is the blog of Nathan Rajlich #{'<nathan@tootallnate.net>'}.
  br
  | Currently living in San Rafael, CA 94901.
.status
  h3 status
  | Currently an engineer at <a href='http://www.learnboost.com'>LearnBoost</a> 
  | and am not looking to change any time soon.
.articles
  h3 recent articles
  each article in articles.slice(0, 3)
    .article
      h4
        a(href=article.name)= article.title
        date = new Date(article.date)
        year = date.getUTCFullYear()
        month = date.getUTCMonth()
        day = date.getUTCDate()
        span(title=([months[month], day, ',', year, 'UTC'].join(' ')))= [ year, month + 1, day ].join('.')
      | !{article.desc}
  a(href='articles') older...
