!!! 5
html
  head
    title n8.io: #{locals.title || "TooTallNate's blog"}
    link(href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic|Actor', rel='stylesheet', type='text/css')
    link(href='styles.css', rel='stylesheet', type='text/css')
  body
    h2 n8.io
    .body!= body
