!!! Strict
%html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    %title #{(title ? title + " - " : "")}TooTallNate.net
    %link(href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css")
    %link(href="/space.css" rel="stylesheet")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
    :script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16789838-1']);
      _gaq.push(['_trackPageview']);
  
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #container
      #header
        %a{href: "/"}
          %h1
            TooTallNate.net
          .tagline &#00A1;Code 'nd Stuff!
      = content
      #footer
        Site design, code and articles are &copy; 2010 to Nathan Rajlich under the MIT license.
        %br
        All code snippets used in the examples are in the public domain.
        %br
        Wheat running on node #{process.version}
